

<form #form ="ngForm" autocomplete="off" (sumbit) ="onSubmit(form)">
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-user-circle"></i>
                </div>
            </div>
            <input name="cardownername" #CardOnwerName ="ngModel" [(ngModel)]="service.CardOwnerName" class="form-control" placeholder="Card owner name" required>
        </div>        
         </div>

         <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <i class="far fa-credit-card"></i>
                    </div>
                </div>
                <input name="cardNumber" #CardNumber ="ngModel" [(ngModel)]="service.CardNumber" class="form-control" placeholder="Card Number" required maxlength="16" minlength="16" >
            </div>            
             </div>
            <div class="form-row">
             <div class="form-group col-md-7" >
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text bg-white">
                            <i class="fas fa-key"></i>
                        </div>
                    </div>
                    <input name="ExpirationDate" #ExpirationDate ="ngModel" [(ngModel)]="service.ExpirationDate" class="form-control" placeholder="mm/yy" required>
                </div>                
                 </div>
            

             <div class="form-group col-md-5">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text bg-white">
                            <i class="fas fa-key"></i>
                        </div>
                    </div>
                    <input type="password" name="CVV" #CVV ="ngModel" [(ngModel)]="service.CVV" class="form-control" placeholder="CVV" required>
                </div>                
                 </div>
            </div>
                 <div class="form-group">
                     <button class="btn btn-success bt-lg" type="submit" [disabled]="form.invalid">Submit</button>
                     <!--<button class="btn btn-success bt-lg btn-block">Submit</button>-->
                
                    </div>
</form>